fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
python-dotenv
psycopg2-binary
python-jose
passlib
alembic
pytest
pytest-asyncio
httpx
email-validator
boto3
python-multipart
bcrypt==3.2.2
redis
tradingview-ta
yfinance==0.2.36
pandas==2.2.0
jinja2
